extends ../layout

block content
  section#content
    // start container
    .container
      h3 Notifications
      .link-container
        a.btn.green(href="/notifications/new") Add Notification
      center
        .row
          each notification in notifications
            .col.m6
              .card.blue.darken-1
                .card-content.white-text
                  span.card-title= "[" + notification.createdAt + "] - [" + notification.recipientsIds.length + "] Recipients"
                  p= notification.message
                //.card-action
                  a.white-text(href='#') Sender Extension: [33333]

