extends ../layout

block content
    .container
        h2.page-header Add a User
        p Please Add a new user using the form
        if errors
            .card.red.lighten-5
                .card-content.red-text
                    each error, i in errors
                        p #{error.msg}
        form(method="post", action="/users")
            .form-group
                label Name
                input.form-control(name="name", type="text", placeholder="Enter Name")
            .form-group
                label Username
                input.form-control(name="username", type="text", placeholder="Enter Username")
            .form-group
                label Password
                input.form-control(name="password", type="password", placeholder="Enter Password")
            .form-group
                label IP Address
                input.form-control(name="ipAddress", type="text", placeholder="Enter IP Address for device")
            input.btn.btn-primary(type="submit", name="submit", value="Add User")