extends ../layout

block content
    .container
        h3 Users
        .link-container
            a.btn.green(href="/users/add") Add User
        br
        table.bordered.striped
            thead
                tr
                    th Name
                    th Username
                    th Password
                    th IP Address
                    th Actions
            tbody
                each user in users
                    tr
                        td= user.name
                        td= user.username
                        td= user.password
                        td= user.ipAddress
                        td
                            a.btn.green(href="/users/edit") Edit
                            a.btn.red(href="/users/destroy/" + user._id, onclick="return confirm('Are you sure?')") Delete